@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/FontAwesome.otf');
}

.slick-slider {
  position: relative;
  overflow: visible;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.grey-dots {
  overflow: visible; }
  .grey-dots .slick-dots {
    z-index: 1;
    left: 0; }
    .grey-dots .slick-dots .slick-active button {
      background: #f1f1f1; }
    .grey-dots .slick-dots li button {
      background: rgba(255, 255, 255, 0.5); }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before {
    content: "";
    display: table; }
  .slick-track:after {
    content: "";
    display: table;
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
margin-right: 15px; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }
.slick-slide.slick-loading img {
  display: none; }
.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }

.slick-prev:hover, .slick-prev:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before {
  opacity: 1; }

.slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "FontAwesome";
  font-size: 50px;
  line-height: 1;
  color: #37B44E;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -30px; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }

.slick-prev:before {
  content: "\f104"; }

[dir="rtl"] .slick-prev:before {
  content: "\f104"; }

.slick-next {
  right: -30px; }

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto; }

.slick-next:before {
  content: "\f105"; }

[dir="rtl"] .slick-next:before {
  content: "\f105"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 60px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }

.\--big-dot .slick-dots {
  bottom: -40px; }

.\--xbig-dot .slick-dots {
  bottom: -60px; }

.\--small-dot .slick-dots {
  bottom: 20px; }

.\--xsmall-dot .slick-dots {
  bottom: 40px; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }
  .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer; }
    .slick-dots li button:hover, .slick-dots li button:focus {
      outline: none; }
    .slick-dots li button:hover:before, .slick-dots li button:focus:before {
      opacity: 1; }
    .slick-dots li button:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "ΓÇó";
      width: 20px;
      height: 20px;
      font-family: "FontAwesome";
      font-size: 6px;
      line-height: 20px;
      text-align: center;
      color: black;
      opacity: 0.25;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75; }
.slick-dots .slick-active button {
  background: #37B44E; }
.slick-dots li {
  height: auto;
  width: auto; }
  .slick-dots li button {
    border-radius: 0;
    width: 50px;
    height: 4px;
    background: #c1c1c1;
    border: 0px solid #858585;
    margin: 0;
    padding: 0; }
    .slick-dots li button:before {
      display: none; }

.dots-n-arrow {
  overflow: visible; }
  .dots-n-arrow .slick-dots {
    z-index: 1;
    left: 0; }
    .dots-n-arrow .slick-dots .slick-active button {
      background: #fff; }
    .dots-n-arrow .slick-dots li button {
      background: rgb(128 128 128); }
  .dots-n-arrow .slick-next {
    right: 2px; }
  .dots-n-arrow .slick-prev {
    left: 10px;
    z-index: 1; }
  .dots-n-arrow .slick-prev:before,
  .dots-n-arrow .slick-next:before {
    font-size: 40px; }
  .dots-n-arrow .slick-next:before {
    content: "\f105"; }
  .dots-n-arrow .slick-prev:before {
    content: "\f104"; }
    
    .dots-n-arrow-v2 {
      overflow: visible; }
      .dots-n-arrow-v2 .slick-dots {
        z-index: 1;
        left: 270px;
        bottom: -40px;}
        .dots-n-arrow-v2 .slick-dots .slick-active button {
          background: #fff; }
        .dots-n-arrow-v2 .slick-dots li button {
          background: rgb(128 128 128); }
      .dots-n-arrow-v2 .slick-next {
        right: 2px; }
      .dots-n-arrow-v2 .slick-prev {
        left: 10px;
        z-index: 1; }
      .dots-n-arrow-v2 .slick-prev:before,
      .dots-n-arrow-v2 .slick-next:before {
        font-size: 40px; }
      .dots-n-arrow-v2 .slick-next:before {
        content: "\f105"; }
      .dots-n-arrow-v2 .slick-prev:before {
        content: "\f104"; }


        .dots-n-arrow-v3 {
          overflow: visible; }
          .dots-n-arrow-v3 .slick-dots {
            z-index: 1;
            left: 270px;
            bottom: -40px;}
            .dots-n-arrow-v3 .slick-dots .slick-active button {
              background: #fff; }
            .dots-n-arrow-v3 .slick-dots li button {
              background: rgb(128 128 128); }
          .dots-n-arrow-v3 .slick-next {
            right: 2px; }
          .dots-n-arrow-v3 .slick-prev {
            left: 10px;
            z-index: 1;
          display: none !important;
          }
          .dots-n-arrow-v3 .slick-prev:before,
          .dots-n-arrow-v3 .slick-next:before {
            font-size: 40px; }
          .dots-n-arrow-v3 .slick-next:before {
            content: "\f105";
            right: 40px;
            font-size: 30px;
            color: white;
            background-color: #e55b1b;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 43px;
            font-weight: 100;
            bottom: -278px;
            font-weight: 700;
            z-index: 34;
            opacity: 1;
            position: absolute;
           }
          .dots-n-arrow-v3 .slick-prev:before {
            right: 40px;
            content: "\f105";
            font-size: 30px;
            color: white;
            background-color: #e55b1b;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 43px;
            font-weight: 100;
            bottom: -278px;
            font-weight: 700;
            z-index: 34;
            opacity: 1;
            position: absolute;         
          }




            .dots-n-arrow-v4 {
              overflow: visible; }
              .dots-n-arrow-v4 .slick-dots {
                z-index: 1;
                left: 270px;
                bottom: -40px;}
                .dots-n-arrow-v4 .slick-dots .slick-active button {
                  background: #fff; }
                .dots-n-arrow-v4 .slick-dots li button {
                  background: rgb(128 128 128); }
              .dots-n-arrow-v4 .slick-next {
                right: 2px; }
              .dots-n-arrow-v4 .slick-prev {
                left: 10px;
                z-index: 1;
              }
              .dots-n-arrow-v4 .slick-prev:before,
              .dots-n-arrow-v4 .slick-next:before {
                font-size: 40px; }
              .dots-n-arrow-v4 .slick-next:before {
                line-height: 1;
                color: black;
                content: "\f0da";
                font-weight: 200;
                font-size: 116px;
                z-index: 1;
                right: -48px;
                bottom: 0;
                opacity: 1;
                position: absolute; }
              .dots-n-arrow-v4 .slick-prev:before {

                line-height: 1;
                color: black;
                content: "\f0d9";
                font-weight: 200;
                font-size: 116px;
                z-index: 1;
                left: -60px;
                bottom: 0;
                opacity: 1;
                position: absolute;

              }


            .dots-n-arrow-v5 {
              overflow: visible; }
              .dots-n-arrow-v5 .slick-dots {
                z-index: 1;
                left: 270px;
                bottom: -40px;}
                .dots-n-arrow-v5 .slick-dots .slick-active button {
                  background: #fff; }
                .dots-n-arrow-v5 .slick-dots li button {
                  background: rgb(128 128 128); }
              .dots-n-arrow-v5 .slick-next {
                right: 2px; }
              .dots-n-arrow-v5 .slick-prev {
                left: 10px;
                z-index: 1;
                }
              .dots-n-arrow-v5 .slick-prev:before,
              .dots-n-arrow-v5 .slick-next:before {
                font-size: 40px; }
              .dots-n-arrow-v5 .slick-next:before {
                line-height: 1;
                color: white;
                content: "\f0da";
                font-weight: 200;
                font-size: 116px;
                z-index: 1;
                right: -48px;
                bottom: 0;
                opacity: 1;
                position: absolute; }
              .dots-n-arrow-v5 .slick-prev:before {
                line-height: 1;
                color: white;
                content: "\f0d9";
                font-weight: 200;
                font-size: 116px;
                z-index: 1;
                left: -60px;
                bottom: 0;
                opacity: 1;
                position: absolute;

              }
              .dots-n-arrow-v5 .slick-prev:before:hover{
                color: black;
              }



              .dots-n-arrow-v6 {
                overflow: visible; }
                .dots-n-arrow-v6 .slick-dots {
                  z-index: 1;
                  left: 270px;
                  bottom: -40px;}
                  .dots-n-arrow-v6 .slick-dots .slick-active button {
                    background: #fff; }
                  .dots-n-arrow-v6 .slick-dots li button {
                    background: rgb(128 128 128); }
                .dots-n-arrow-v6 .slick-next {
                  right: 2px; }
                .dots-n-arrow-v6 .slick-prev {
                  left: 10px;
                  z-index: 1;
                display: none !important;
                }
                .dots-n-arrow-v6 .slick-prev:before,
                .dots-n-arrow-v6 .slick-next:before {
                  font-size: 40px; }
                .dots-n-arrow-v6 .slick-next:before {
                  content: "\f105"; }
                .dots-n-arrow-v6 .slick-prev:before {
                  content: "\f104"; }
      
      